<!-- ======= Services Section ======= -->
<main id="main">
  <section id="services" class="services">
    <div class="container">
      <div class="section-title">
        <h2>Contact</h2>
        <p>
          Free Solar Savings Estimate
          FIND OUT HOW MUCH YOU CAN SAVE TODAY!
        </p>
      </div>

      <div class="row">
        <div class="content col-xl-5 d-flex flex-column justify-content-center">
          <img
            src="https://d9hhrg4mnvzow.cloudfront.net/www.gosunpro.com/lp/g/solar-panels/7bef027c-home-energy-house_10da0ab0c509h00q00f028.png"
            class="img-fluid" alt="Contact image" />
        </div>
        <div class="col-xl-7">
          <div class="d-flex flex-column justify-content-center">
            <div class="row">
              <div class="mt-4 mt-lg-0">
                <app-mailchimp></app-mailchimp>
              </div>
            </div>
          </div>
          <!-- End .content-->
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End Services Section -->
