<main>
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Our Amazing </h1>
            <span class="color-text-a">News</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                News Grid
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- End Intro Single-->

  <section class="product-slider-section">
    <div class="container">
      <div id="productslider" class="carousel slide">
        <div class="row">
          <div class="col-lg-8 col-md-8">
            <div class="row">
              <div class="col-12">
                <div class="carousel-inner">


                  <div class="carousel-item active zoom-image">
                    <img src="/assets/img/img.PNG" class="img-fluid1">
                    <span class="sale-span">New</span>
                  </div>

                  <div class="carousel-item  zoom-image">
                    <img src="/assets/img/img1.jpg" class="img-fluid">
                    <span class="sale-span">New</span>
                  </div>

                  <div class="carousel-item  zoom-image">
                    <img src="/assets/img/img2.PNG" class="img-fluid">
                    <span class="sale-span">New</span>
                  </div>

                </div>
              </div>
              <div class="col-12">
                <ol class="carousel-indicators position-static m-0 justify-content-start">

                  <li data-target="#productslider" data-slide-to="0" class="active">
                    <div class="data-slide-image">
                      <img src="/assets/img/img.PNG" class="img-fluid">
                    </div>
                  </li>
                  <li data-target="#productslider" data-slide-to="1">
                    <div class="data-slide-image">
                      <img src="/assets/img/img1.jpg" class="img-fluid">
                    </div>
                  </li>

                  <li data-target="#productslider" data-slide-to="2">
                    <div class="data-slide-image">
                      <img src="/assets/img/img2.PNG" class="img-fluid">
                    </div>
                  </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <h3 class="product-name">Photovoltaic Panels</h3>
            <p class="price">
              <span class="old-price">$0</span>
              <span class="new-price">The Panasonic Advantage</span>
            </p>
            <div class="iconpdf">
              <a href="/pdf/solarmodulo.pdf" class="btn-download fa fa-download" download="EverVolt_WBS_Solar_Module_Data_Sheet" title="DownloadPDF">
              </a>
            </div>
            

              <p>
              Higher Module Efficiency
              Superior module efficiency of 21.2% and 20.6%,
              respectively, allows maximum power production
              with less roof space. With one of the industry’s
              lowest annual degradation rates, power output
              of at least 92% is guaranteed after 25 years.
              </p>

            <div class="d-flex">
              <button class="add-to-cart-btn">
                <span> FreeQuote</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  </main>
<!-- End #main -->
