*{
  overflow: hidden;
}

  .container{
    position: relative;
    display: inline-block;
    text-align: center;
  }
  .text-info{
    position: relative;
    top: 10px;
    left: 10px;
  }
.sub-title{
  top: 43%;
  left: 273px;
  transform: translate(-7%, 127%);
  position: relative;
}


