*{
  overflow: hidden;

}
.text-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 84%;
}

.title-box-d{
  align-self: center;
}

.title-d{
  padding-top: 50px;
  color: #303030;
}

.text-info{
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 84%;
}

.title-box-d{
  align-self: center;
}

.title-d{
  padding-top: 50px;
  color: #303030;
}

.list{
 align-self: center;
 list-style-type: none;
}

.sub-title{
  color: #303030;
}

.sub-subtittle{
  color: #303030;
  font-size: 26px;
  margin-bottom: 20px;
}

.list-container{
  padding: 10px 0px 30px 80px;
  display: flex;
  flex-direction: column;
}

.list-item{
  margin-top: 15px;
}
