<main id="main">
  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">
              OUR MAIN SOURCE OF ENERGY COMES FROM DIRTY ENERGY Coal, Oil, Gas, etc.</h1>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">

            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->


  <!-- ======= About Section ======= -->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img
              src="assets/img/Contaminaciontextura.PNG"
              alt="" class="img-fluid">
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="assets/img/1.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">WHEN YOU GO SOLAR YOU CREATE A SUSTAINABLE WORLD FOR PRESENT AND FUTURE
                  GENERATIONS
                  <span class="color-d">WILL BE</span> ELIGIBLE
                  <br> FOR SOLAR?
                </h3>
              </div>
              <p class="color-text-a">
                We present you the solution to your benefits to help build a new sustainable and clean environment for
                your home, bearing in mind that we are a company whose vision is to help the planet.
              </p>
              <p class="color-text-a">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5 mb-5">
              <img src="assets/img/ghfunction.gif" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">HOW DOES OF
                  <span class="color-d">THE LIGHT</span> THE SUN
                  <br> ENERGY?
                </h3>
              </div>

              <p class="color-text-a">
                Solar panels capture energy from the SUNSHINE and channel it to an inverter, where it is converted
                into AC electricity to power your home.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5 mb-5">
              <img src="assets/img/active.PNG" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">YOUR PAYMENT TO THE POWER SUPPLIER
                  <span class="color-d"></span>
                  <br>
                </h3>
              </div>

              <p class="color-text-a">
                It's a debt that doesn't produce
                any value and you don't capitalize on
                since it's a liability.
                Paying your Solar System is
                an investment that increase
                the value of your property
                which is an asset.
                You're already paying for something
                that doesn't benefits you and is better to pay
                for your solar system
                instead of throwing it away.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container mb-5">
    <div class="row">
      <div class="col-16 section-t8">
        <div class="row">
          <div class="breadcrumb-box d-flex justify-content-lg-end conta2">
            <img src="assets/img/SolarpanelsBenefic.PNG" class="img-fluid">
          </div>

          <!-- <div class="col-md-6 col-lg-5 section-md-t3 text-info">
            <div class="title-box-d">
              <h3 class="title-d">YOUR OPTIONS ARE...
                <span class="color-d"></span>
                <br>
              </h3>
            </div>

            <ul class="list">

              <Li class="sub-title"><h2 class="sub-subtittle">Remain with the power company’s Monopoly.</h2>
                <ul class="list-container">
                  <li class="list-item"> They will keep raising your bill every year.</li>
                  <li class="list-item"> You Don't Increase the Value of Property.</li>
                  <li class="list-item"> You don't get incentives by squandering government help.</li>
                  <li class="list-item">  You will pay for the rest of your life.</li>
                </ul>
              </Li>

              <li class="sub-title"><h2 class="sub-subtittle">If you go solar.</h2>
                <ul class="list-container">
                  <li class="list-item">$0 hitch.</li>
                  <li class="list-item">Your payment never goes up.</li>
                  <li class="list-item">You will increase your house value.</li>
                  <li class="list-item">You take advantage of existing tax incentives.</li>
                  <li class="list-item">A payment that has an end like the car or the house.</li>
                </ul>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <!-- =======Team Section ======= -->
</main>
<!-- End #main -->