<header class="header">
  <div class="overlay"></div>
  <nav class="flex flex-jc-sb flex-ai-c">
    <a href="/">
      <img class="header__logo" src="assets/images/logo.png" alt="Us1solars">
    </a>

    <a href="#" class="header__menu hide-for-desktop">
      <span></span>
      <span></span>
      <span></span>
    </a>

    <div class="header__links hide-for-mobile">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
      <a href="#">Blog</a>
      <a href="#">Careers</a>
    </div>

    <a href="#" class="button header__cta hide-for-mobile">Request Invite</a>
  </nav>
</header>
