<body>
  <h1 class="title-a text-center col-15" >New Notices</h1>

  <!--image card layout start-->
  <div class="container">
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/img/Campaña/1.jfif " width="100%" height="100%" alt="">
        <div class="details">
          <div class="more">
            <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/img/Campaña/2.jfif" width="100%" height="100%" alt="">
        <div class="details">
          <div class="more">
            <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/img/Campaña/3.jfif" width="100%" height="100%" alt="">
        <div class="details">
          <div class="more">
            <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
    <!--image row start-->
    <div class="row">
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/img/Campaña/4.jfif" width="100%" height="100%" alt="">

        <div class="details">
          <div class="more">
            <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="image">
        <img src="../../../../assets/img/Campaña/5.jfif" width="100%" height="100%" alt="">

        <div class="details">
          <div class="more">
            <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
            <div class="icon-links">
              <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!--image card end-->
      <!--image card start-->
      <div class="view">
        <iframe title="vimeo-player" src="https://player.vimeo.com/video/481966960?h=7cb0170b67" width="100%" height="100%" frameborder="0" allowfullscreen></iframe>

        
      </div>
      <!--image card end-->
    </div>
    <!--image row end-->
  </div>
  <!--image card layout end-->

</body>