 
 <h1 class=" title-a text-center" >New notices</h1>
 <!--image card layout start-->
 <div class="container">
  <!--image row start-->
  <div class="row">
    <!--image card start-->
    <div class="image">
      <img src="../../../../assets/img/Bell/1.jpg" alt="">
      <div class="details">
        <div class="more">
          <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
          <div class="icon-links">
            <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--image card end-->
    <!--image card start-->
    <div class="image">
      <img src="../../../../assets/img/Bell/2.jpg" alt="">
      <div class="details">
        <div class="more">
          <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
          <div class="icon-links">
            <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--image card end-->
    <!--image card start-->
    <div class="image">
      <img src="../../../../assets/img/Bell/3.jpg" alt="">
      <div class="details">
        <div class="more">
          <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
          <div class="icon-links">
            <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--image card end-->
  </div>
  <!--image row end-->
  <!--image row start-->
  <div class="row">
    <!--image card start-->
    <div class="image">
      <img src="../../../../assets/img/Bell/4.jpg" alt="">
      <div class="details">
        <div class="more">
          <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
          <div class="icon-links">
            <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--image card end-->
    <!--image card start-->
    <div class="image">
      <img src="../../../../assets/img/Bell/5.jpg" alt="">
      <div class="details">
        <div class="more">
          <a href="https://www.facebook.com/us1solarpanelsbusiness" class="read-more">Read <span>More</span></a>
          <div class="icon-links">
            <a href="https://www.facebook.com/us1solarpanelsbusiness"><i class="fas fa-heart"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!--image card end-->
    <!--image card start-->
  
    <!--image card end-->
  </div>
  <!--image row end-->
</div>
<!--image card layout end-->


