<main id="main">
  <div class="intro intro-carouse">
    <div id="carouse" class="owl-carouse owl-theme">
      <div class="carouse-item-a intro-item bg-image" style="background-image: url(assets/img/solaresp.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      <br>
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Solar panels</span> For homes is more affordable with
                      <br>Us1 Solar panels <span class="color-b">☀️</span>
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a routerLink="/contact"><span class="price-a">Free quote | $0 Down</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Intro Section -->


  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-newspaper-o"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Us1 news</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c ">
                You will understand how to reduce your current electricity consumption expenditure, as well as be aware of the importance of Solar Energy in reducing the carbon footprint in the atmosphere, such as giving value to your property and  take advantage of current government incentive  when switching to Solar energy.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Tax incentive</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                When you purchase solar panels, you will receive from the Federal Government a tax incentive, under which there are priorities to stop consuming everything related to burning energy from Fossil, such as fuel, gas, etc., this is one more reason to make the change right away.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="/" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-line-chart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Cost of solar</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                You knew that your traditional electric bill increases every year and never stop going up and you will never stop paying.
                The advantage of switching to solar energy is that you will anchor the price for the time of your contract and then your payment could be zero when you consume energy in your home, that's another way to save money.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-key"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Full system ownership</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                When you purchase solar panels for your home, you are creating a strong independent power by not relying 100% on the traditional grid and combined with a backup battery, you would have the possibility to rely on hurricanes, or some unforeseen power outage where you live, this is one more reason to switch to solar energy
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-level-up"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Savings starting today</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                By selecting solar energy, you start saving money from day one for all the reasons exposed, but where this the biggest saving is leaving our children a better future by reducing pollution levels.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-bolt"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Investment</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                In the face of rising traditional electricity costs and unpredictable outages, investing in solar for
                your home is one way to prepare your home's energy for the future.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a color-ba">Why choose Solar Panels? </h2>

              <p class="content-c">
                Our planet needs to reduce dependence on dirty energy, pollution was created from the beginning of the industrial era, increased levels of CO2, CH4, N2O and other gases, allowing the temperature to rise on our planet, by the greenhouse effect, this would bring severe consequences if we stand by, when we make this change to solar energy, we are impacting the change.  if we become aware, we should talk to our friends, family members to be aware, the day to day does not allow us to visualize this serious problem that we have around the corner and when you become aware you also start to have control of your own generation of electricity.
                <a routerLink="/blog">All information
                </a>
              </p>


            </div>
            <div class="title-link">

            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid  px-0 mb-5">
        <div class="row bg-dark h-100">
          <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
          </div>
        </div>
      </div>
      <!--EndLatestPropertiesSection-->
      <section>
        <div class="title-box">
          <h2 class="title-a text-center color-ba">More reason to choose Solar  Panels </h2>
          <p class="text-center">
            Switching your consumption of dirty energy to clean energy, in addition to saving a lot of money, you stop being a tenant, you currently pay all the time without having a benefit, it's like you rent a house, you pay, you pay and you pay and it's never your property, instead if you buy a house, someday it will be yours, you invest year after year, by investing in panels; you will increase the value of your property, you receive a tax incentive and when you finish paying for them you become a self-sustaining energy creator for your home, at no cost, Is it worth it or not?
          </p>
        </div>



        <div class="contenedor col-5">
          <div class="item">
            <span class="fa fa-tree"></span>
            <span class="cantidad" id="cont1">Planting</span>
            <span class="cantidad" id="cont1"></span>
            <span class="seguidores ">trees</span>
          </div>

          <div class="row col-2 ">
            <h1 class="text-center"> & </h1>
          </div>

          <div class="item">
            <span class="fa fa-car"></span>
            <span class="cantidad" id="cont2">Reducing</span>
            <span class="cantidad" id="cont2"></span>
            <span class="seguidores">Miles of Driving</span>
          </div>
        </div>

      </section>


      <!-- End #main -->
