<main id="main">
  <div class="intro intro-carouse">
    <div id="carouse" class="owl-carouse owl-theme">
      <div class="carouse-item-a intro-item bg-image" style="background-image: url(assets/img/solaresp.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">
                      <br>
                    </p>
                    <h1 class="intro-title mb-4">
                      <span class="color-b">Solar panels</span> For homes is more affordable with
                      <br>Us1 Solar panels <span class="color-b">☀️</span>
                    </h1>
                    <p class="intro-subtitle intro-price">
                      <a routerLink="/contact"><span class="price-a">Free quote | $0 Down</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Intro Section -->


  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">Our Services</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-newspaper-o"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Us1 news</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Us1 news you will learn tips to save energy, reduce energy bill spending is helping thousands of people
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-usd"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Tax incentive</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                We are motivated to inform you that saving solar energy has been one of the biggest investments for your
                home, when it comes to saving money in the long term by incentivizing you with great profits in this
                clean energy process.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="/" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-line-chart"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Cost of solar</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                As electricity rates are rising the cost of solar panels have never been lower. Switch
                to home solar
                and save with Solar Panels.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Services Section ======= -->
  <section class="section-services section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a"></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-key"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Full system ownership</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Quote with us we take care of giving the best options for your benefit, as we provide security and
                quality for your home, ensuring the best decision at the time of purchase.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-level-up"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Savings from day 1 </h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                Generating benefits, acquiring our service gaining from the first day, it is good news to inform you
                that when you acquire our services the value of your home also increases.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-box-ico">
                <span class="fa fa-bolt"></span>
              </div>
              <div class="card-title-c align-self-center">
                <h2 class="title-c">Investment</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c">
                In the face of rising traditional electricity costs and unpredictable outages, investing in solar for
                your home is one way to prepare your home's energy for the future.
              </p>
            </div>
            <div class="card-footer-c">
              <a href="#" class="link-c link-icon">
                <!--Read more-->
                <!-- <span class="ion-ios-arrow-forward"></span> -->
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End Services Section -->

  <!-- ======= Latest Properties Section ======= -->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a color-ba">Why choose Solar Panels? </h2>

              <p>
                When you partner with a solar energy company you can create your own clean, affordable energy to become
                independent of your utility company. A solar panel installation will power your home every time the sun
                comes up, while increasing control over your energy use and reducing your dependence on fossil fuels.
              </p>
            </div>
            <div class="title-link">
              <a routerLink="/blog">All information
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid  px-0 mb-5">
        <div class="row bg-dark h-100">
          <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
          </div>
        </div>
      </div>
      <!--EndLatestPropertiesSection-->
      <section>
        <div class="title-box">
          <h2 class="title-a text-center color-ba">Switch to clean energy and save the planet </h2>
          <p class="text-center">
             Most of our customers purchase our service, because of the positive impact it generates at a financial
              level, also we must not overlook that solar panels influence the environment giving a positive impact when
              generating clean energy, as we have a healthy source from the sun helping our nature providing a better
              quality of life for our resources, make your best decision saving the planet by choosing the best
              option.
          </p>
        </div>



        <div class="contenedor col-5">
          <div class="item">
            <span class="fa fa-tree"></span>
            <span class="cantidad" id="cont1">Planting</span>
            <span class="cantidad" id="cont1"></span>
            <span class="seguidores ">trees</span>
          </div>

          <div class="row col-1 ">
            <h1 class="text-center"> & </h1>
          </div>

          <div class="item">
            <span class="fa fa-car"></span>
            <span class="cantidad" id="cont2">Reducing</span>
            <span class="cantidad" id="cont2"></span>
            <span class="seguidores">Miles of Driving</span>
          </div>
        </div>

      </section>


      <!-- End #main -->