* {
    text-align: center;
}



.parrafo-color{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colorous-text-a{
    font-family: 'Poppins', sans-serif;
}

.btn-download{
    margin: auto;
}