
<section class="intro-single">
  <div id="carouselExampleDark" class="carousel carousel-dark slide  mb-5" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="assets/img/equip2.webp" class="d-block w-100" alt="Slider1">
        <div class="carousel-caption d-none d-md-block">
          <p></p>
        </div>
        
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="assets/img/equip3.jfif" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/assets/img/equip4.svg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>



  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <div class="title-single-box">
          <h1 class="title-a text-center">Equipment Spec Sheet: Panels</h1>
          <p class="colorous-text-a">Below you will find links to Panel Spec Sheets. To get the most up to date spec
            sheet for the various panels we source please go to the manufacturer’s website to download. Equipment and
            pricing on projects is subject to change, if your proposal is over 30 days old please request a revision to
            get a new link generated showing the most up to date pricing available.</p>
        </div>
        <p class="parrafo-color">If a panel is NOT listed in your equipment list on your proposal then it is NOT
          available.</p>
      </div>
      <div class="col-md-12 col-lg-4">
        <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              <a routerLink="/company"> Our company</a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>

<div class="mb-5">

  <a
    href="https://blog.powur.com/wp-content/uploads/MISSION-C-SA2-CTA-0014-MSE-PV-Module-Limited-Warranty-2020-2021.pdf" target="_blank">
    <h3>MISSION-C-SA2-CTA-0014-MSE-PV-Module-Limited-Warranty-2020-2021<span
        class="badge bg-secondary bg-success">Download</span></h3><br>
  </a>


  <a href="https://blog.powur.com/wp-content/uploads/EAGLE-66TR-G4-JKM370-390M-6RL3-B-A1-US-002.pdf" target="_blank">
    <h3> EAGLE-66TR-G4-JKM370-390M-6RL3-B-A1-US-002<span class="badge bg-secondary bg-success">Download</span></h3><br>
  </a>

  <a href="https://blog.powur.com/wp-content/uploads/EverVolt_WBS_Solar_Module_Data_Sheet.pdf"  target="_blank">
    <h3>Panasonic 360_EverVolt_WBS_Solar_Module_Data_Sheet><span class="badge bg-secondary bg-success">Download</span>
    </h3> <br>
  </a>

  <a href="https://enphase.com/sites/default/files/IQ7A-DS-EN-US.pdf" target="_blank">
    <h3>Enphase IQ 7A Microinverter<span class="badge bg-secondary bg-success">Download</span></h3><br>
  </a>

  <p class="intro-subtitle intro-price">
    <a routerLink="/contact"><span class="price-a">free quote | $0 Down</span></a>
  </p>
  
  <div class="about-section">
    <div class="inner-container">
        <h1>Powerful on their own. Better together.</h1>
        <p class="text">
            
        </p>
    </div>
</div>