<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">HOW SOLAR WORKS</h1>
            <span class="color-text-a">Share your time with us</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Our company
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Blog Single ======= -->
  <section class="col-md-10 offset-md-1">
    <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
        <iframe src="https://player.vimeo.com/video/481966353" width="100%" height="460" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      
      <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
      </div>
    </div>

    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="post-information">
        <ul class="list-inline text-center color-a">
          <li class="list-inline-item">
            <strong>Date: </strong>
            <span class="color-text-a"> Solars panels</span>
          </li>
        </ul>
      </div>
      <div class="post-content color-text-a">
        <p class="post-intro">
          <strong> Mision: <br> </strong> provide a great customer experience from start to finish. we work hard to
          get it right. The switch to solar energy requires a whole team. From educating homeowners and the community
          to designing a custom system and installing it quickly, we pride ourselves on handling everything 100%
          without the need to outsource.
        </p>
        <div class="post-content color-text-a">
          <p class="post-intro">
            <strong> YOU CAN TRUST US: <br> </strong>

            Offering the strongest WARRANTY and GUARANTEES, we believe in the solar products we sell and the work we
            perform. A SolarPanels solar system is designed and installed to last for decades. For that reason, we are
            willing to stand behind our products for the long term, because we want you to be 100% satisfied, now and
            in the future.
          </p>
          <p>

          <blockquote class="blockquote">
            <p class="mb-4"> FIND OUT HOW MUCH YOU CAN SAVE WITH PANELS SOLARS</p>
            <footer class="blockquote-footer">
              <button aria-placeholder="Enter zip code"> <a href="contact.html">FREE QUOTE</a>
                <input type="text" id="message " placeholder="Enter zip code" />
              </button>
            </footer>
          </blockquote>
            <div class="col-md-15 section-t8">
              <div class="row">
                <div class="col-md-6 col-lg-5">
                  <p class="post-intro">
                  How is solar energy implemented?
                </p>
                  <img src="assets/img/implements.gif "  alt="" class="images__fluid">
                </div>
                <div class="col-lg-2  d-none d-lg-block">
                  <div class="title-vertical d-flex justify-content-start">
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 section-md-t3">
                  <div class="title-box-d">
                    <h3 class="title-d">
                      <br> 
                    </h3>
                  </div>
    
                  
                </div>
              </div>
            </div>
          


        </div>
        <div class="post-footer">
          <div class="post-share">
            <span>Share: </span>
            <ul class="list-inline socials">
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      
    </div>
  </section>
</main>
