<main id="main">

  <!-- ======= Intro Single ======= -->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single color-ba">HOW PANEL SOLARS WORKS</h1>
            <span class="color-text-a">Share your time with us</span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="#">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Our company
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section><!-- End Intro Single-->

  <!-- ======= Blog Single ======= -->
  <section class="col-md-10 offset-md-1">
    <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
        <iframe src="https://player.vimeo.com/video/481966353" width="100%" height="460" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
      
      <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
      </div>
    </div>

    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="post-information">
        <ul class="list-inline text-center color-a">
          <li class="list-inline-item">
            <strong>Date: </strong>
            <span class="color-text-a">Solar panels</span>
          </li>
        </ul>
      </div>
      <div class="post-content color-text-a">
        <p class="post-intro">
          <strong> Mission: <br> </strong>Our company is at the disposal of your home with the best solar energy service, meeting expectations, working hard to achieve the goal in the solution, generating the best advice to improve the quality of life for us is a great opportunity, We take care of all the details from planning and installation to power production and system support. We are obsessed with making sure you are happy. That means we will do whatever it takes to make your switch to solar easy and affordable.
        <div class="post-content color-text-a">
          <p class="post-intro">
            <strong> You can trust us: <br> </strong>

            Thank you for choosing us. The entire company wants to convey to you that we are working to continue to meet your expectations and, if possible, even exceed them. A Solar panels system is designed and installed to last for decades. customers like you are  who inspire us to be  better every day, so we can only do two things: keep improving and thank you the future.
          </p>
          <p>

          <blockquote class="blockquote">
            <p class="mb-4"> FIND OUT HOW MUCH YOU CAN SAVE WITH SOLAR PANELS </p>
            
          </blockquote>
            <div class="col-md-15 section-t7">
              <div class="row">
                
                  <p class="post-intro text-center">
                    <span class="color-ba">How is solar energy implemented?</span>
                </p>
                  <img src="assets/img/implements.gif "  alt="" class="images__fluid">
                </div>
                <div class="col-lg-2  d-none d-lg-block">
                  <div class="title-vertical d-flex justify-content-start">
                  </div>
                </div>
                <div class="col-md-6 col-lg-5 section-md-t3">
                  <div class="title-box-d">
                    <h3 class="title-d">
                      <br> 
                    </h3>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <span>Share:</span>
        <div class="post-footer">
          <div class="post-share">
            <ul class="list-inline socials">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/us1solarpanelsbusiness">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/us1solarpanelsbussines/">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    
  </section>
</main>
