
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single" > <img src="/assets/img/sunshine.png" alt=""> What's solar energy</h1>
              <span class="color-text-a">All renewable energies are excellent alternatives. But do you know which one rules them all?</span>

            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a routerLink="/">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a routerLink="/company">Our company</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <a routerLink="/products">Products</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Single ======= -->
    <section class="property-single nav-arrow-b">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div id="property-single-carousel" class="owl-carouse owl-arrow gallery-property">
              <div class="carousel-item-b">
                <img src="assets/img/p3378-1-3.jpg" width="100%" alt="">
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="col-md-5 col-lg-4">
                <div class="property-price d-flex justify-content-center foo">
                  <div class="card-header-c d-flex">
                    <div class="card-box-ico">
                      <span class="ion-money">$</span>
                    </div>
                    <div class="card-title-c align-self-center">
                      <h5 class="title-c">0 Down</h5>
                    </div>
                  </div>
                </div>
                <div class="property-summary">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="title-box-d section-t4">
                        <h3 class="title-d">Choose the right solar company</h3>
                      </div>
                    </div>
                  </div>
                  <div class="summary-list">
                    <ul class="list">
                      <li class="d-flex justify-content-between">
                        <strong>Licensed Residential Contractor</strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Expert Local Roof Installers</strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong> Strongest Warranties.</strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Manufacturer Warranty</strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Craftsmanship Guarantee</strong>
                        <span>
                          <sup></sup>
                        </span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong></strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong>Price Investment Guarantee</strong>
                        <span></span>
                      </li>
                      <li class="d-flex justify-content-between">
                        <strong></strong>
                        <span></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-7 col-lg-7 section-md-t3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">Are solar panels worth it?</h3>
                    </div> Freedom from the utility company and fluctuating costs.
                  </div>
                </div>
                <div class="property-description">
                  <p class="description color-text-a">
                    Considering all the factors, switching your home over to clean solar energy is an investment that keeps on giving. Here are just a few reasons to love solar:
                    <ul>
                      <li>
                      Be an environmental superhero.
                      <li>
                        Save on your electricity bill.
                      </li>
                      <li>
                        Freedom from the utility company and fluctuating costs.
                      </li>
                    </ul>
                    <p class="description color-text-a no-margin">
                    It’s difficult to do it by yourself because even with all the extensive searches on Google, it’s hard to find all the information you’ll need to know and all the opportunities out there to help you switch to solar.
                    Schedule a no-pressure free consultation with a solarpanels Energy Specialist.
                  </p>
                </div>
                <div class="row section-t3">
                  <div class="col-sm-12">
                    <div class="title-box-d">
                      <h3 class="title-d">FREE ESTIMATE FOR ROOFING AND SOLAR</h3>
                    </div>
                  </div>
                </div>
                <div class="amenities-list color-text-a">
                  <ul class="list-a no-margin">
                    If you’re ready to take the next step, or even if you’re considering what it would take to get you there, contact us to discover all your options. Our solar specialists and roof contractors install solar and roofs across the United States.
                    Contact us today to see if we service your area, qualify for incentives like the solar federal tax credit and get free solar quotes for your particular needs.
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-10 offset-md-1">
            <ul class="nav nav-pills-a nav-pills mb-3 section-t3" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="true">Video</a>
              </li>
             
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab">
                <iframe src="https://player.vimeo.com/video/313583196" width="100%" height="460" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
              <div class="tab-pane fade" id="pills-plans" role="tabpanel" aria-labelledby="pills-plans-tab">
                <img src="assets/img/solars.jpeg" alt="" class="img-fluid">
              </div>
              <div class="tab-pane fade" id="pills-map" role="tabpanel" aria-labelledby="pills-map-tab">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.1422937950147!2d-73.98731968482413!3d40.75889497932681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25855c6480299%3A0x55194ec5a1ae072e!2sTimes+Square!5e0!3m2!1ses-419!2sve!4v1510329142834" width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row section-t3">
              <div class="col-sm-12">
                <div class="title-box-d">
            

 