<!-- ======= Footer ======= -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="nav-footer">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a routerLink="/">Home</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/company">Our company</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/notices">Notices</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/equipments">Equipments</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/contact">Contact</a>
            </li>
          </ul>
        </nav>
        <div class="socials-a">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/us1solarpanelsbusiness">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.instagram.com/us1solarpanelsbussines/">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-dribbble" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="copyright-footer">
          <p class="copyright color-text-a">
            &copy; Copyright
            <span class="color-a">solar panels</span> All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End  Footer -->
